body {
  background: #3333;
}

.navbar {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 50px;
  margin-top: 0%;
  border: 3px solid #14213d;
  align-content: right;
}

.nav-item {
  float: right;
  right: 16px;
  padding: 20px 7px;
  font-size: 18px;
}

.nav-item:hover {
  color: red;
  background-color: #14213d;
  height: 13px;
}

.state {
  display: block;
  width: 30%;
  margin: auto;
}

.form {
  border: 3px solid #14213d;
  display: block;
  width: 30%;
  margin: auto;
}

.selector {
  margin: 5px 0 0 10px;
  width: 122px;
}

.datePicker {
  margin: 10px;
}

.textArea {
  width: 99%;
  height: 100px;
}
